In [83]:
import pandas as pd

In [85]:
df=pd.read_csv("Desktop/ML/areaprice.csv")
df

    area   price
0  23000  550000
1  25000  570000
2  28000  590000
3  30000  610000
4  33000  630000

In [78]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [79]:
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [80]:
model.score(x,y)

0.9952229299363059

In [87]:
model.predict([[31000]])

array([615477.70700637])

In [88]:
model.coef_

array([7.96178344])

In [89]:
model.intercept_

368662.4203821657

In [93]:
7.96178344*31000+368662.4203821657

615477.7070221656